body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1119px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:19px;
  width:1024px;
  height:768px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:205px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:201px;
  width:371px;
  height:205px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:141px;
  width:344px;
  height:50px;
  font-size:18px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:340px;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:32px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:219px;
  width:62px;
  height:32px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:33px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:261px;
  width:62px;
  height:33px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:364px;
  width:91px;
  height:28px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:364px;
  width:94px;
  height:27px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:304px;
  width:100px;
  height:16px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:330px;
  width:60px;
  height:16px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u11_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:330px;
  width:54px;
  height:16px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u12_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:330px;
  width:58px;
  height:16px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u13_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:145px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:346px;
  width:5px;
  height:130px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:486px;
  width:369px;
  height:53px;
  font-size:16px;
  color:#FF0000;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  white-space:nowrap;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:219px;
  width:238px;
  height:32px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:261px;
  width:238px;
  height:33px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:120px;
  height:31px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:233px;
  width:105px;
  height:5px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:226px;
  width:183px;
  height:32px;
  color:#FF0000;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:366px;
  width:97px;
  height:26px;
  font-size:18px;
}
#u20_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u20.mouseOver {
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:93px;
  white-space:nowrap;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:101px;
  height:31px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:376px;
  width:86px;
  height:5px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
